@model ML.Usuario

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <h5 class="card-header text-center">Formulario</h5>
  <div class="card-body">
    <h5 class="card-title">Agrega el nombre para un nuevo usuario</h5>
     <div class="col-md-12">
        @using(Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.HiddenFor(model => model.IdUsuario)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre)
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-person"></i></span>
                   @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre"})
                </div>
            </div>

           <div class="col-md-3 my-4">
               <input type="submit" value="Guardar" class="btn btn-success btn-block"/>
               @Html.ActionLink("Regresar", "GetAll", "Usuario", null, new { @class = "btn btn-danger" })
           </div>

        }
     </div>
  </div>
</div>